server:
  port: 8001

spring:
  application:
    name: service-edu
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  #环境配置
  profiles:
    active: dev
  #数据源
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/guli_db?serverTimezone=GMT%2B8
    username: root
    password: wcd0209
  #redis
  redis:
    host: 192.168.110.131
    port: 6379
    database: 0
    timeout: 1800000
    lettuce:
      pool:
        max-active: 20
        max-wait: -1
        max-idle: 5
        min-idle: 0

  #cloud
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

feign:
  httpclient:
    connection-timeout: 20000
  #开启熔断机制
  hystrix:
    enabled: true

#mybatis配置
#mybatis-plus:
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
mybatis-plus:
  mapper-locations: classpath:com/lebrwcd/eduservice/mapper/xml/*.xml

